<div class="content is-pulled-left">
    <ul>
        <li>do not harass other users</li>
        <li>do not disrupt the network</li>
        <li>do not disrupt public channels</li>
        <li>use common sense</li>
        <li>network operators reserve the right to remove you at any time</li>
    </ul>
</div>
<div class="box is-pulled-left">
    <p>irc.dad.town:6667<span class="tag is-small">plaintext</span></p>
    <p>irc.dad.town:6697<span class="tag is-small is-success">ssl/tls</span></p>
</div>
