<div class="content">
    <a class="is-link" href="https://quotes.dad.town/">
        <h3 class="title">quote database <small class="subtitle">(https://quotes.dad.town)</small></h3>
        <h6 class="subtitle">stores noteworthy chat quotes from various platforms</h6>
    </a>
    <a class="is-link" href="irc://irc.dad.town/#fathers">
        <h3 class="title">jetbrains licenses <small class="subtitle">(contact an irc admin for info)</small></h3>
        <h6 class="subtitle">we love jetbrains and all their products</h6>
    </a>
</div>